# Node.js
/node_modules
/.pnp
.pnp.js

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage and cache
coverage
*.lcov
.nyc_output
.grunt

# Dependency directories
bower_components
.lock-wscript
build/Release
jspm_packages/
web_modules/

# TypeScript cache
*.tsbuildinfo

# Various caches
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.webpack/

# Dart
.dart_tool/
.packages

# General
.DS_Store
.env  
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Outputs
/build
/dist

# Parcel cache
.cache
.parcel-cache

# Next.js specific
.next
out

# Nuxt.js specific
.nuxt

# Gatsby specific
.cache/
.public

# VuePress
.vuepress/dist
.temp

# Docusaurus
.docusaurus

# Serverless
.serverless/

# FuseBox
.fusebox/

# DynamoDB Local
.dynamodb/

# TernJS
.tern-port

# VSCode for testing extensions
.vscode-test

# SvelteKit
.svelte-kit
