@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .all-\[unset\] {
      all: unset;
  }
}

/* Path: carecycle/client/src/App.css */

html, body {
  margin: 0;
  padding: 0;
}





